<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Tutorial Automation Suite">
	<test name="TutorialsNija Tests">
		<classes>
			<class name="com.tutorialsninja_Testcases.Register" />
			<class name="com.tutorialsninja_Testcases.Login" />
		</classes>
	</test> <!--
	Test -->
</suite> <!--
Suite -->
